<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>

<body>

    <h1>Edit Student</h1>

    {%if form.instance.image%}
    <h3>Current Image :</h3>

    <img src="{{form.instance.image.url}}" alt="{{form.instance.name}}
    width=300"
    height="300">

    <lebel>
            <input type="checkbox" name="remove_image">
            Remove Image
        </lebel>

        
    {%endif%}

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Update Student
        </button>


        

    </form>

    <br>

    <a href="{% url 'home' %}">
        Back to Home
    </a>

</body>

</html>