<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student List</title>
</head>

<body>



    <h3>For Adding students : <a href="{% url 'add_student' %}">Add Student</a></h3>

    <br><br>


        <h1>Student Data Table</h1>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Details</th>

            </tr>
        </thead>

        <tbody>

            {% for student in students %}

            <tr>
                <td>{{ student.id }}</td>

                <td>

                    {{ student.name }}

                </td>

                <td>{{ student.email }}</td>

                <td>{{ student.age }}</td>
                <td><a href="{% url 'edit-student' student.id %}">🔧</a>
                </td>

                <td>
                    <form 
                    method="POST" 
                    action="{% url 'delete_student' student.id %}" style="display: inline;">

                         {% csrf_token %}

                        <button type="submit" onclick="return confirm('Are you sure you want to delete?')">
                            ❌
                        </button>

                    </form>
                </td>


                <td><a href="{% url 'student_details' student.id %}">🔍</a>
                </td>


            </tr>

            {% empty %}

            <tr>
                <td colspan="4">
                    No students found.
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

</body>

</html>