<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Details</title>
</head>

<body>

    <h1>Student Details</h1>

    {% if student.image %}
    <img src="{{student.image.url}}" alt="{{student.name}}" width="400" height="400">

    {% else %}
    <p>No Image</p>
    {% endif %}

    <h2>
        <strong>Name:</strong> {{ student.name }}
    </h2>

    <h2>
        <strong>Email:</strong> {{ student.email }}
    </h2>

    <h2>
        <strong>Age:</strong> {{ student.age }}
    </h2>

    <br>

    <a href="{% url 'home' %}">
        Back to Home
    </a>

</body>

</html>